body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: center;
}

p {
 font-size: 30px; 
}  

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #222;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}
